{% extends 'blog/base.html' %}
{% block content %}
<div class="jumbotron">
    <h2>Please Log in</h2>  
    <h3>Must be the superuser, please check with the admin site</h3>

    {% if form.errors %}
        <p>The username and password mismatch!</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class= 'btn btn-primary' value="login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>    
</div>
{% endblock %}