{% extends 'youtubeapp/base.html' %}
{% block content %}
    <h1>Please type here to Search:</h1>
        <form class="enroll_form" method = "POST">
            {% csrf_token %} 

            <div align = "center">            
                <div class="container">
                    <div class="jumbotron text-center">

                        {{ form }}
                            <button type="Submit" class="btn btn-default">Search</button>

                    </div>
                </div>
            </div>
        </form>
{% endblock %}
    

